<template name="studentslist">
    <table>
      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>

      <tr>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
        <td>{{>profile}}</td>
      </tr>
    </table>
</template>

<template name="profile">
  <div class="panel panel-default" style="margin-left:20px">
    <div class="panel-body">
      <img src="chair" width="70px"/>
      <h6>FULL NAME</h6>
      <div class="dropdown">
        <button class="btn btn-default btn-block dropdown-toggle" width="100%" type="button" id="menu1" data-toggle="dropdown">Action
          <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1"  href="#">Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" id="btnswap" href="#">Swap</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" id="btndrop" href="#">Drop</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" id="btnstudremove" href="#">Remove</a></li>
            </ul>
      </div><!--/dropdown-->
    </div>
  </div>
</template>
