
<template name="classsched">
  <label>Search: </label><input type="text" value="" id="txtSearchmyClass">
  <br/>

  {{#each myClass}}<!--find class-->
    {{#if inClass _id}}<!--check user in class-->
      <div class="col-lg-3 col-md-3 col-sm-6">
        {{>ClassBody}}
      </div>
    {{/if}}
  {{/each}}
</template>

<template name="ClassBody">

    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close btndelclass" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <center><b><h3 class="modal-title">{{description}}</h3></b></center>
      </div>
      <div class="modal-body">
        <h5><b>Section Code:</b> {{sec_code}}</h5>
        <h5><b>Subject Code:</b> {{subj_code}}</h5>
        <h5><b>Schedule:</b> {{sched}}</h5>
        <h5><b>Semester:</b> {{sem}}</h5>
        <h5><b>School Year:</b> {{school_yr}}</h5>
        {{#each TeacherInfo teachId}}
          <h5><b>Instructor:</b> {{username}}</h5>
        {{/each}}

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnDelmyClass">Drop</button>
        <button type="button" class="btn btn-success" id="btnViewmyClass">View Class</button>
      </div>
    </div><!-- /.modal-content -->

</template>
